@import "styles/vars";

.input {
	background: $c_white;
	box-shadow: 0 4px 4px $c_shadow;
	border-radius: 5px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	outline-color: $c_brand;
	border: 1px solid transparent;
	padding: 7px 12px;
	width: 100%;

	&_error {
		border-color: $c_alert;
	}

	&__wrapper {
		position: relative;
	}

	&__errorMessage {
		position: absolute;
		bottom: -20px;
		left: 0;
		color: $c_alert;
	}
}