@import "styles/vars";

.up {
	position: fixed;
	bottom: 90px;
	right: 60px;
	z-index: 1;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	background: $c_brand;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background: $c_brand-dark;
	}
}
