@import "styles/vars";

.menu {
  &__topItem {
    margin-bottom: 20px;
  }

  &__topLink {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;

    &:hover,
    &_active {
      color: $c_brand;
    }
  }

  &__middle {
    margin-top: 14px;
    margin-left: 12px;
    padding: 8px 0 8px 32px;
    border-left: 1px solid #DFDFDF;
  }

  &__middleItem {
    overflow: hidden;
  }

  &__middleName {
    padding: 0 2px;
    display: block;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    color: $c_text-light;
    text-transform: uppercase;
    margin-bottom: 12px;
    outline-offset: -1px;

    &:hover {
      color: $c_brand;
    }
  }

  &__loverLink {
    padding: 0 2px;
    display: block;
    margin: 0 0 10px 10px;
    font-weight: 300;
    font-size: 14px;
    color: $c_text-light;

    &:hover,
    &_active {
      color: $c_brand;
    }
  }
}