$c_black: #000;
$c_white: #FFF;
$c_text: #3B434E;
$c_brand: #7653FC;
$c_brand-dark: #5F38DC;
$c_bg: #F5F6F8;
$c_alert: #FC836D;
$c_success: #1DC37E;
$c_green-light: #C8F8E4;
$c_border: #EBEBEB;
$font-family: "Noto Sans KR", sans-serif;
